@import url(./styles/tabs-nav.css);
@import url(./styles/tabs-contents.css);
@import url(./styles/tabs-editor-modal.css);
@import url(./styles/tabs-configs.css);
@import url(./styles/tabs-settingtab.css);

.tabs-container {
  --tabs-border-color: var(--background-modifier-border);
  --tabs-nav-item-active-color: var(--interactive-accent);
  --tabs-nav-item-hover-color: var(--background-modifier-border-hover);
  --p-spacing: 0.75em;
}

.tabs-container {
  display: flex;
  margin: 2px;
  flex-direction: column;
}

.markdown-source-view.is-readable-line-width .tabs-container {
  max-width: var(--file-line-width);
}